{% extends "base.html" %}

{% block header_block %}
<div class="header-block">
  <div class="text">
    <h2>O carro perfeito para você</h2>
  </div>
  <img src="{{url_for('static', filename='images/car-header.png')}}" alt="Car" />
</div>
{% endblock %}
{% block conteudo %}
<section class="frota" id="frota">
  <div class="content">
    <div class="title-wrapper-frota">
      <h3>Nossa Frota</h3>
    </div>
    <div class="card-wrapper">
      {% for veiculo in veiculos %}
      <div class="card-item">
        <img src="{{url_for('static', filename=veiculo.get_imagem())}}" alt="Car" />
        <div class="card-content">
          <h3>{{veiculo.modelo}}</h3>
          <p>
            {{veiculo.descricao}}
          </p>
          <button type="button" onclick="window.open('/alugar/veiculo/{{veiculo.modelo}}/', '_self');">Alugar - R${{veiculo.diaria}}/dia</button>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}