{% extends "base.html" %}

{% block conteudo %}
<div class="container mt-3">
  <h1>Realizar Reserva</h1>
  <form method="post">
    {{ form.csrf_token }}
    <div class="row">
      <div class="col mb-3">
        {{ form.ag_retirada.label(class_="form-label") }}
        {{ form.ag_retirada(class_="form-control") }}
      </div>
      <div class="col mb-3">
        <label for="data_retirada" class="form-label">Data de Retirada</label>
        <input required type="date" class="form-control" name="data_retirada" value="{{data_atual}}">
      </div>
    </div>
    <div class="row">
      <div class="col mb-3">
        {{ form.ag_devolucao.label(class_="form-label") }}
        {{ form.ag_devolucao(class_="form-control") }}
      </div>
      <div class="col mb-3">
        <label for="data_devolucao" class="form-label">Data de Devolução</label>
        <input required type="date" class="form-control" name="data_devolucao">
      </div>
    </div>
    <div class="row">
      <div class="col mb-3">
        {{ form.veiculo.label(class_="form-label") }}
        {{ form.veiculo(class_="form-control") }}
      </label>
    </div>
    </div>
    <button class="btn btn-primary mb-3" type="submit">Continuar</button>
  </form>
</div>
{% endblock %}